@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Activar
grad1 {
 height: 5000px;
    background: #62a09b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fffff0, #004953); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fffff0, #004953); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fffff0, #004953); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fffff0, #004953); /* Standard syntax (must be last) */
}


header {
    font-family: 'Oswald', sans-serif; 
    font-size: 50px;
    
}

a { 

    text-align: center;
    color: #004953;
    text-decoration: none;
    
}  

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
	background-color: #004953;
	overflow-x: hidden;
    transition: 0.5s;
    max-width: 15%;
}

.overlay a {
    padding: 10%;
    text-decoration: none;
    font-size: 26px;
    color: #fffff0;
    display: inline-block;
}

.overlay-content {
    position: initial;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30%;
}

.overlay-content a {
    padding: 4%;
    text-decoration: none;
    font-size: 15px;
    color: #fffff0;
    display: block;
    margin-top: 8%;
}

.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 8%}
  .overlay-content a  {font-size: 18px;
    top: 15px;
    right: 35px;
  }
  .overlay {
    max-width: 30%;
  }
}


p,h1 { 
	padding-left: 20% ;
	padding-right: 20% ;


}





